{% set nginx = salt['grains.filter_by']({
    'Debian': {
      'loadbalancers': {
        'front': {
          'https_port': None,
          'servers': [],
        },
        'client_max_body_size': '50k',
      },
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('nginx',{})) %}

