{% set nginx = salt['grains.filter_by']({
    'Debian': {
      'loadbalancers': {
        'lbfront': {
          'https_port': None,
          'servers': [],
        }
      },
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('nginx',{})) %}

